
@media (max-width: 1268px) {
    .cards .card {
        width: 16.3%;
        min-height: 253px;
    }

    .login {
        min-height: 200px;
    }

    .login > div > div{
        width: 90%;
    }

    input[type=text],
    input[type=password]{
        width: 80%;
    }
}

@media (max-width: 1026px) {
    .nav li {
        margin-left: 5%;
    }

    .banner h1{
        font-size: 20px;
    }

    .cards .card {
        width: 14.2%;
        min-height: 179px;
    }

    .cards .card:first-child {
        margin-left: 2%;
    }

    .cards .card:last-child {
        margin-right: 2%;
    }

    .text-card h3 {
        font-size: 13px;
    }

    .text-card p {
        font-size: 10px;
    }

    .card-aside-title {
        font-size: 12px;
    }

    input[type=text],
    input[type=password]{
        height: 18px;
        width: 60%;
    }

    .title-articles h1{
        font-size: 20px;
    }

    .article div h2 {
        font-size: 18px;
    }

    .article div h4 {
        font-size: 13px;
    }

    .footer-title {
        font-size: 15px;
    }

    .footer-menu ul li {
        font-size: 15px;
    }
}

@media (max-width: 764px) {
    .logo-container i{
        font-size: 50px;
    }

    .logo-container h2 {
        font-size: 45px;
    }
    
    .nav {
        margin-top: 10px;
        width: 100%;
    }

    .nav li {
        width: 100%;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .cards .card {
        min-height: 120px;
        width: 12.5%;
    }

    .cards .card p{
        display: none;
    }

    .card-aside-title {
        font-size: 10px;
    }

    .social-media > div > i {
        font-size: 20px;
    }

    .social-media div h4 {
        font-size: 10px;
        top: -18px;
        left: 50px;
    }

    .title-articles h1{
        font-size: 15px;
    }

    .article div h2 {
        font-size: 13px;
    }

    .article div h4 {
        font-size: 9px;
    }

    .article p {
        font-size: 8px;
    }

    .footer-title {
        font-size: 10px;
    }

    .footer-menu ul li {
        font-size: 10px;
    }

}
