/*GENERALES*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-image: url(../img/pattern.png);
}

input[type=text],
input[type=password],
input[type=button],
button {
    height: 25px;
    padding-left: 5px;
    transition: all 300ms;
}

/*UTILIDADES*/

.wrap {
    width: 80%;
    margin: 0px auto; /*Ojo debe tener un ancho definido*/
}

.clearfix {
    float: none;
    clear: both;
}


/*HEADER*/

.header {
    background-color: black;
    color: white;
}

.logo-container {
    float: left;
    padding: 10px 30px;
    margin: 10px auto;
    background-color: #37bcf9;
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;
}

.logo-container > * {
    float: left;
}

.logo-container i {
    font-size: 28px;
}

.logo-container:hover {
    background-color: gray;
    color: black;
}

.logo-container:hover i{
    animation: burguer 400ms linear;
}


@keyframes burguer {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(200%);
        color: white;
    }
    100% {
        transform: translateY(0%);
    }
}

.logo-container > *:last-child {
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 1px;
}


.logo-container:hover > *:last-child{
    animation: food 400ms linear;
}

@keyframes food {
    from {
        transform: translateX(200%);
        color: white;
    }
    to{
        transform: translateX(0%);
    }
}

.nav {
    float: right;
    width: 50%;
    margin-top: 25px;
}

.nav li {
    float: left;
    list-style: none;
    margin-left: 10%;
    cursor: pointer;
    transition: all 300ms;
    font-weight: bold;
}

.nav li:hover {
    color: #37bcf9;
    transform: scale(1.2,1.2);
}

/*BANNER*/
.banner {
    background-image: url(../img/bakbaner.png);
    /* background: no-repeat; */
    margin-top: 30px;
    padding: 20px 0px;
    max-height: 40px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-position: -309px;
    overflow: hidden;
    animation: backBanner 10s linear;
}

@keyframes backBanner {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -309px;
    }
}

.banner h1{
    text-shadow: 3px 3px black;
    animation: title 10s linear;
}

@keyframes title {
    0% {
        transform: translateX(-200%);
        font-size: 50px;
    }
    50% {
        transform: translateX(200%);
    }
    75% {
        transform: translateX(-200%);
        color: transparent;
    }
}

/*TARJETAS*/

.cards .card {
    float: left;
    width: 17%;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin-right: 18px;
    padding: 20px 8px;
    min-height: 198px;
    box-shadow: 0px 0px 2px gray;
    overflow: hidden;
    transition: all 300ms;
}

.cards .card:hover {
    cursor: pointer;
    background-color: black;
}

.cards .card:hover i {
    color: #37bcf9;
    animation: downIcon 300ms linear;
}

@keyframes downIcon {
    from {
        transform: translateY(-200%);
    }
}

.cards .card:hover h3 {
    color: white;
    animation: downTitle 300ms linear;
}

@keyframes downTitle {
    from {
        transform: translateY(-500%);
    }
}

.cards .card:hover p {
    color: white;
    animation: getP 300ms linear;
}

@keyframes getP {
    from {
        transform: translateX(-300%);
    }
}

.cards .card:last-child {
    margin-right: 0px;
}

.cards .card i {
    padding-top: 20px;
    font-size: 45px;
}

.text-card {
    margin-top: 40px;
}

.text-card h3 {
    color: #00538c;
}

.text-card p {
    margin-top: 10px;
    color: #00538c;
}

/*BARRA LATERAL*/

.aside-bar {
    float: right;
    width: 35%;
    margin: 0px auto;
    margin-top: 50px;
}

.card-aside-title {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 15px;
    background-color: #ccc;
    padding: 10px;
    box-shadow:  0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
    letter-spacing: 1px;
}

.search div {
    width: 50%;
    margin: 15px auto;
}

.card-aside-container {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 30%), 0px 3px 7px rgb(0 0 0 / 30%), 0px 1px white inset, 0px -3px 2px rgb(0 0 0 / 30%) inset;
    min-height: 180px;
    padding-top: .1px;
}

.login div {
    width: 100%;
    margin: 10px auto;
    padding: 0px 2%;
}

.login-buttons {
    width: 100% !important; 
    margin: 0px auto !important;
}

.login-buttons input[type=submit],
.login-buttons input[type=button]{
    display: block;
    float: left;
    width: 40%;
    margin-left: 5%;
    height: 30px;
    padding: 5px;
    color: white;
    border: none;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    box-shadow: 0px 0px 2px gray;
    cursor: pointer;
    margin-bottom: 15px;
}

.forgot a{
    text-decoration: none;
    float: left;
    margin-left: 1%;
    font-size: 14px;
    color: #555;
}

.forgot a:hover {
    color: #2f78bc;
    text-decoration: underline;
}

.social-media div i{
    float: left;
    margin-top: 20px;
    margin-left: 7%;
    font-size: 30px;
    width: 100%;
    cursor: pointer;
}

.social-media div h4 {
    opacity: 0;
    transition: all 300ms;
    position: relative;
    top: -25px;
    left: 60px;
    transition: all 300ms;
}

.social-media div:hover h4{
    opacity: 1;
}

/*SECCION ARTÃCULOS*/

.articles-section {
    float: left;
    width: 65%;
    margin: 30px auto;
}

.articles-section > div {
    width: 80%;
    margin: 30px auto;
    margin-left: 15%;
}

.title-articles {
    background-color: #ccc;
    padding: 20px 10px;
    text-align: center;
    box-shadow:  0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
    letter-spacing: 1px;
}

.article {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px gray;
    padding: 0 10px;
    padding-bottom: 10px;
}

.article div h2 {
    float: left;
    color: #00538c;
    margin-top: 10px;
}

.article div h4 {
    float: right;
    background-color: #393d3f;
    color: white;
    margin-top: 0px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.article p {
    margin-top: 10px;
}

.to-blog-button {
    background-color: white;
    padding: 30px 0px;
    text-align: center;
    box-shadow: 0px 0px 2px gray;
    cursor: pointer;
    color: #00538c;
    letter-spacing: 1px;
    transition: all 1s;
}

.to-blog-button:hover {
    border-radius: 30px;
    background-color: #393d3f;
    color: white;
    text-shadow: 3px 3px black;
    animation: effectBlogButton 10s linear infinite;
}

@keyframes effectBlogButton {
    0% {
        border: 10px solid #37bcf9;
    }    
    50% {
        border: 10px solid green;
    }
    100% {
        border: 10px solid yellow;
    }
}

/*FOOTER*/

.footer {
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

.footer .wrap > div {
    float: left;
    width: 33.3%;
}

.footer-title {
    display: block;
    margin: 15px auto;
    margin-right: 15%;
    text-align: center;
    background-color: #ccc;
    color: black;
    padding: 10px 0;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.footer-menu ul li{ 
    margin-top: 20px;
    font-size: 23px;
    cursor: pointer;
    width: 80%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.footer-menu ul li a {
    color: #2ca0ca;
    text-decoration: none;
    transition: all 300ms;
}

.footer-menu ul li:hover a{
    color: white;
    margin-left: 15%;
}

.where iframe{
    height: 300px;
    width: 80%;
    margin-left: 2%;
    border-radius: 5px;
}

.footer-details .devp > img {
    display: block;
    margin-left: 5%;
}

.icon {
    width: 13%;
    cursor: pointer;
}